.item {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(195, 200, 204);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.item-brw {
  height: 20px;
  background-color: rgb(195, 200, 204);
  display: flex;
  align-items: center;
}
.item-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 3px;
}
.a {
  background-color: lightgreen;
}
.b {
  background-color: lightyellow;
}
.c {
  background-color: tomato;
}
@media screen and (max-width: 480px) {
  .item {
    width: 40%;
    height: 20vh;
  }
}
